<!DOCTYPE html>
<html lang="pt-br">
    <head>

        <meta charset="UTF-8">
    
    </head>
    <body>

<p style="text-align: center; font-family: 'Courier New', Courier, monospace; font-size: 25px;">{{ title }}</p>

        <ul>
            <p *ngIf="todos.length==0"><small>Você ainda não tem tarefas hoje</small></p>
            <li *ngFor="let todo of todos">{{ todo.id }} - {{ todo.title }} - {{ todo.done }} |
                <button style="background-color: orange;" *ngIf="todo.done" (click)="markAsUndone(todo)" >Refazer</button> |
                <button style= "background-color: #70ff86;" *ngIf="!todo.done" (click)="markAsDone(todo)">Concluir</button> |
                <button style="background-color: red;" (click)="remove(todo)">Remover</button> </li>
        </ul>
        
        <form [formGroup]="form">
            <fieldset>
                <label>Tarefa:</label>
                <input type="text" 
                    placeholder="Titulo da tarefa"
                    maxlength="60"
                    minlength="3"
                    formControlName="title">
                <small *ngIf="form.controls.title.invalid && !form.controls.title.pristine">Esse campo deve ter entre 3 e 60 caracteres</small>
                
                <button [disabled]="form.invalid" (click)="add()">Adicionar</button>
            </fieldset>
        
        </form>
    </body>
</html>